:root {
	--primary: rgb(24, 247, 202);
	--secondary: rgb(158, 245, 8);
	--dark-grey: rgb(96, 96, 96);
	--light-grey: rgb(153, 152, 152);
	--white: rgb(255, 255, 255);
	--my-red: rgb(252, 44, 3);
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "roboto", sans-serif;
	background-color: var(--white);
}

.container {
	padding: 50px;
}

/* Navbar ******************************************************/
.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aqua;
	padding: 10px 25px;
	height: 70px;
}
.navbar-logo img {
	width: 50px;
}
.navbar-links a {
	text-decoration: none;
	color: var(--dark-grey);
	font-weight: bold;
	margin: 0 10px;
}
.hamburguer-menu img {
	width: 30px;
}

/* Home ****************************************************/
.home-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--primary);
	padding: 100px;
	gap: 100px;
}
.home-container img {
	width: 700px;
}
